.editor-grid {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  grid-gap: 20px;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
  pointer-events: none;
  .item {
    height: 20px;
    background-color: #f1f6f9;
  }
  &.theme-dark {
    background: #212a3e;
    .item {
      background-color: #394867;
    }
  }
}
