.g-card__widget-wrap {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  &.selected {
    box-shadow: 0 0 5px 2px rgba(57, 72, 103, 0.5);
  }
}
.g-card__widget {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
  background: #fff;
}
.g-card__title {
  width: 100%;
  height: 35px;
  line-height: 35px;
  padding: 0 15px;
  box-sizing: border-box;
  flex-shrink: 0;
  background: #f1f6f9;
  color: #212a3e;
  .g-card__title-text {
  }
}
.g-card__empty {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  .g-card__empty-icon {
    width: auto;
    height: 40%;
  }
  .g-card__empty-text {
    color: #212a3e;
    margin-top: 1%;
  }
}
.g-card__chart {
  flex-grow: 1;
  background: #fff;
}
.g-card__chart-canvas {
  height: 100%;
}
