.g-collapse {
  color: #fff;
  .el-collapse-item {
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
    box-shadow: 0 0 10px 5px rgba(57, 72, 103, 0.2);
    .el-collapse-item__header {
      background: #394867;
      height: 35px;
      padding-left: 12px;
      font-weight: bold;
    }
    .el-collapse-item__content {
      background: #212a3e;
      padding: 10px;
    }
  }
  &__sub {
    .el-collapse-item {
      box-shadow: none;
      border-bottom: 1px solid #394867;
      border-radius: 0;
      .el-collapse-item__header {
        background: #212a3e;
      }
      .el-collapse-item__content {
        background: #212a3e;
      }
    }
    &:last-child {
      .el-collapse-item {
        margin-bottom: 0;
        border-bottom: none;
      }
    }
  }
}
