.g-collapse {
  .el-collapse-item {
    overflow: hidden;
    box-shadow: 0 0 10px 5px rgba(57, 72, 103, 0.2);
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
    .el-collapse-item__header {
      color: #fff;
      background: rgba(33, 42, 62, 0.8);
      height: 30px;
      padding-left: 16px;
      font-weight: bold;
      border-radius: 5px 5px 0 0;
    }
    .el-collapse-item__content {
      background: #fff;
      padding: 10px;
      border-radius: 0 0 5px 5px;
    }
  }
  &__sub {
    border-bottom: 1px solid #efefef;
    margin-top: 10px;
    padding-bottom: 10px;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
    .el-collapse-item {
      box-shadow: none;
      margin-bottom: 0;
      .el-collapse-item__header {
        padding-left: 8px;
        background: rgba(33, 42, 62, 0.6);
        height: 25px;
        line-height: 25px;
      }
      .el-collapse-item__content {
        background: #efefef;
        padding: 5px;
      }
    }
  }
}
