.g-radio {
  .el-radio {
    &:nth-child(1) {
      margin-right: 12px;
    }
    .el-radio__input {
      .el-radio__inner {
        width: 12px;
        height: 12px;
      }
      &.is-checked {
        .el-radio__inner {
          border: none;
          background: #fff;
        }
      }
    }
    .el-radio__label {
      padding-left: 5px;
      color: #fff;
    }
  }
}
