.g-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  // align-items: center;
  // min-height: 30px;
  &:last-child {
    margin-bottom: 0;
  }
  .el-col {
    &:nth-child(1) {
      align-self: flex-start;
      text-align: right;
      padding-right: 10px;
    }
    &:nth-child(2) {
      align-self: flex-start;
    }
    &:nth-child(3) {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: -6px;
      > div {
        margin-right: 5px;
        margin-bottom: 6px;
      }
      // .setter-item-node {
      //   margin-right: 5px;
      // }
    }
  }
}
