.editor-header {
  height: 100%;
  background: #394867;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #f1f6f9;
  .logo {
    width: 25px;
    height: 25px;
  }
  .info {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
    font-family: "almm";
    position: relative;
    top: 2px;
  }
}
