.setter {
  width: 400px;
  background: #efefef;
  border-left: 1px solid #999;
  .setter-header {
    width: 100%;
    height: 45px;
    background: #efefef;
    border-bottom: 1px solid #999;
  }
}
