.g-props-style__collapse {
  padding: 10px;
}

.g-label {
  color: #000;
  line-height: 24px;
}

.g-color-gary {
  .g-label {
    color: #666;
  }
}

.el-tabs {
  .el-tabs__header {
    padding-bottom: 0;
    margin: 0 10px;
    .el-tabs__nav {
      margin-left: 10px;
    }
  }
  .el-tabs__item {
    color: #fff;
    padding: 0 10px;
    &.is-active {
      color: #fff;
    }
  }
  .el-tabs__active-bar {
    background-color: #212a3e;
  }
}
