.g-editor {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  .g-editor__header {
    position: relative;
    width: 100%;
    height: 45px;
    flex-shrink: 0;
  }
  .g-editor__main {
    position: relative;
    flex-grow: 1;
    display: flex;
    overflow: hidden;
    background: #f1f6f9;
    .g-editor__main-left {
      flex-grow: 1;
    }
    .g-editor__main-right {
      position: relative;
      width: 350px;
    }
  }
}
